<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <title>Configuração &mdash; Symfony2 Framework Documentation  documentation</title>
    
    <link rel="stylesheet" href="../../_static/nature.css" type="text/css" />
    <link rel="stylesheet" href="../../_static/pygments.css" type="text/css" />
    
    <script type="text/javascript">
      var DOCUMENTATION_OPTIONS = {
        URL_ROOT:    '../../',
        VERSION:     '',
        COLLAPSE_INDEX: false,
        FILE_SUFFIX: '',
        HAS_SOURCE:  true
      };
    </script>
    <script type="text/javascript" src="../../_static/jquery.js"></script>
    <script type="text/javascript" src="../../_static/underscore.js"></script>
    <script type="text/javascript" src="../../_static/doctools.js"></script>
    <link rel="top" title="Symfony2 Framework Documentation  documentation" href="../../" /> 
  </head>
  <body>
    <div class="related">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../../genindex/" title="General Index"
             accesskey="I">index</a></li>
        <li><a href="../../">Symfony2 Framework Documentation  documentation</a> &raquo;</li> 
      </ul>
    </div>  

    <div class="document">
      <div class="documentwrapper">
        <div class="bodywrapper">
          <div class="body">
            
  <div class="section" id="configuracao">
<h1>Configuração<a class="headerlink" href="#configuracao" title="Permalink to this headline">¶</a></h1>
<div class="toctree-wrapper compound">
<ul>
<li class="toctree-l1"><a class="reference internal" href="introduction/">O Componente Config</a><ul>
<li class="toctree-l2"><a class="reference internal" href="introduction/#introducao">Introdução</a></li>
<li class="toctree-l2"><a class="reference internal" href="introduction/#instalacao">Instalação</a></li>
<li class="toctree-l2"><a class="reference internal" href="introduction/#secoes">Seções</a></li>
</ul>
</li>
<li class="toctree-l1"><a class="reference internal" href="resources/">Carregando recursos</a><ul>
<li class="toctree-l2"><a class="reference internal" href="resources/#localizando-recursos">Localizando recursos</a></li>
<li class="toctree-l2"><a class="reference internal" href="resources/#loaders-de-recursos">Loaders de recursos</a></li>
<li class="toctree-l2"><a class="reference internal" href="resources/#encontrando-o-loader-correto">Encontrando o loader correto</a></li>
</ul>
</li>
<li class="toctree-l1"><a class="reference internal" href="caching/">Caching baseado em recursos</a></li>
<li class="toctree-l1"><a class="reference internal" href="definition/">Definindo e processando valores de configuração</a><ul>
<li class="toctree-l2"><a class="reference internal" href="definition/#validando-valores-de-configuracao">Validando valores de configuração</a></li>
<li class="toctree-l2"><a class="reference internal" href="definition/#definindo-a-hierarquia-de-valores-de-configuracao-utilizando-o-treebuilder">Definindo a hierarquia de valores de configuração utilizando o Treebuilder</a></li>
<li class="toctree-l2"><a class="reference internal" href="definition/#adicionando-definicoes-de-no-a-arvore">Adicionando definições de nó a arvore</a></li>
<li class="toctree-l2"><a class="reference internal" href="definition/#valores-padrao-e-valores-obrigatorios">Valores padrão e valores obrigatórios</a></li>
<li class="toctree-l2"><a class="reference internal" href="definition/#secoes-opcionais">Seções Opcionais</a></li>
<li class="toctree-l2"><a class="reference internal" href="definition/#opcoes-de-mesclagem">Opções de mesclagem</a></li>
<li class="toctree-l2"><a class="reference internal" href="definition/#secoes-de-acrescimo">Seções de acréscimo</a></li>
<li class="toctree-l2"><a class="reference internal" href="definition/#nomralizacao">Nomralização</a></li>
<li class="toctree-l2"><a class="reference internal" href="definition/#regras-de-validacao">Regras de validação</a></li>
<li class="toctree-l2"><a class="reference internal" href="definition/#processando-valores-de-configuracao">Processando valores de configuração</a></li>
</ul>
</li>
</ul>
</div>
</div>


          </div>
        </div>
      </div>
      <div class="sphinxsidebar">
        <div class="sphinxsidebarwrapper">
  <h3>This Page</h3>
  <ul class="this-page-menu">
    <li><a href="../../_sources/components/config/index.txt"
           rel="nofollow">Show Source</a></li>
  </ul>
<div id="searchbox" style="display: none">
  <h3>Quick search</h3>
    <form class="search" action="../../search/" method="get">
      <input type="text" name="q" />
      <input type="submit" value="Go" />
      <input type="hidden" name="check_keywords" value="yes" />
      <input type="hidden" name="area" value="default" />
    </form>
    <p class="searchtip" style="font-size: 90%">
    Enter search terms or a module, class or function name.
    </p>
</div>
<script type="text/javascript">$('#searchbox').show(0);</script>
        </div>
      </div>
      <div class="clearer"></div>
    </div>
    <div class="related">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../../genindex/" title="General Index"
             >index</a></li>
        <li><a href="../../">Symfony2 Framework Documentation  documentation</a> &raquo;</li> 
      </ul>
    </div>
    <div class="footer">
        &copy; Copyright .
      Created using <a href="http://sphinx-doc.org/">Sphinx</a> 1.2.2.
    </div>
  </body>
</html>